In [33]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

pd.set_option('display.max_columns', None)

In [23]:
activities_with_zones = pd.read_csv('data/activities_with_zones.csv')
activities_with_zones.head()

,Unnamed: 0.1,Unnamed: 0,resource_state,athlete,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,workout_type,id,start_date,start_date_local,timezone,utc_offset,location_city,location_state,location_country,achievement_count,kudos_count,comment_count,athlete_count,photo_count,map,trainer,commute,manual,private,visibility,flagged,gear_id,start_latlng,end_latlng,average_speed,max_speed,average_cadence,average_temp,average_watts,max_watts,weighted_average_watts,kilojoules,device_watts,has_heartrate,average_heartrate,max_heartrate,heartrate_opt_out,display_hide_heartrate_option,elev_high,elev_low,upload_id,upload_id_str,external_id,from_accepted_tag,pr_count,total_photo_count,has_kudoed,suffer_score,HR Zone 1,HR Zone 2,HR Zone 3,HR Zone 4,HR Zone 5,Power Zone 1,Power Zone 2,Power Zone 3,Power Zone 4,Power Zone 5,Power Zone 6,Power Zone 7,Power Zone 8,Power Zone 9,Power Zone 10,Power Zone 11
0,0,0,2,"{'id': 3506416, 'resource_state': 1}","Feel the fatigue, need rest",63539.8,8189,8382,131.0,Ride,Ride,10.0,10057164887,2023-10-17T17:00:06Z,2023-10-17T10:00:06Z,(GMT-07:00) America/Phoenix,-25200.0,NaN,NaN,United States,10,17,0,1,0,"{'id': 'a10057164887', 'summary_polyline': 'qe...",False,False,False,False,everyone,False,b12532853,"[33.419589484110475, -111.92323436960578]","[33.41942980885506, -111.92315675318241]",7.759,13.210,88.4,32.0,155.9,723.0,174.0,1276.9,True,True,152.1,187.0,False,True,361.2,316.8,1.077488e+10,1.077488e+10,garmin_ping_300060328822,False,2,1,False,176.0,125.0,4257.0,2782.0,1025.0,0.0,618.0,127.0,738.0,1868.0,3179.0,951.0,564.0,88.0,29.0,7.0,20.0
1,1,1,2,"{'id': 3506416, 'resource_state': 1}",Congregation,65466.1,8033,9545,276.0,Ride,Ride,10.0,10044558487,2023-10-15T13:22:30Z,2023-10-15T06:22:30Z,(GMT-07:00) America/Phoenix,-25200.0,NaN,NaN,United States,19,46,0,31,0,"{'id': 'a10044558487', 'summary_polyline': 'eg...",False,False,False,False,everyone,False,b12532853,"[33.41984865255654, -111.92403031513095]","[33.41946383938193, -111.92317427136004]",8.150,16.662,92.1,17.0,149.1,846.0,188.0,1197.3,True,True,144.8,187.0,False,True,348.6,238.6,1.076175e+10,1.076175e+10,garmin_ping_299698521677,False,2,0,False,117.0,146.0,5628.0,1349.0,910.0,0.0,1972.0,291.0,838.0,1426.0,1427.0,639.0,382.0,299.0,282.0,177.0,300.0
2,2,2,2,"{'id': 3506416, 'resource_state': 1}",Morning Ride,24439.8,4925,4972,58.0,Ride,Ride,NaN,10038133180,2023-10-14T15:00:20Z,2023-10-14T08:00:20Z,(GMT-07:00) America/Phoenix,-25200.0,NaN,NaN,United States,0,18,0,1,0,"{'id': 'a10038133180', 'summary_polyline': 'co...",False,False,False,False,everyone,False,b12532853,"[33.42600733973086, -111.99600865133107]","[33.41948269866407, -111.92322045564651]",4.962,15.398,67.0,21.0,73.6,1068.0,172.0,362.5,True,True,128.2,171.0,False,True,307.2,275.4,1.075504e+10,1.075504e+10,garmin_ping_299536152537,False,0,0,False,28.0,579.0,3980.0,361.0,5.0,0.0,1101.0,1573.0,1520.0,463.0,74.0,23.0,6.0,8.0,4.0,4.0,149.0
3,3,3,2,"{'id': 3506416, 'resource_state': 1}",Morning Ride,8939.8,1432,1628,6.0,Ride,Ride,NaN,10038132445,2023-10-14T14:31:51Z,2023-10-14T07:31:51Z,(GMT-07:00) America/Phoenix,-25200.0,NaN,NaN,United States,0,14,0,1,0,"{'id': 'a10038132445', 'summary_polyline': 'af...",False,False,False,False,everyone,False,b12532853,"[33.419796684756875, -111.92354500293732]","[33.42655660584569, -111.9916673284024]",6.243,14.912,78.8,17.0,75.0,1013.0,145.0,107.4,True,True,112.2,161.0,False,True,423.6,367.6,1.075504e+10,1.075504e+10,garmin_ping_299536136533,False,0,0,False,4.0,1078.0,337.0,17.0,0.0,0.0,325.0,221.0,615.0,179.0,34.0,17.0,11.0,4.0,5.0,1.0,20.0
4,4,4,2,"{'id': 3506416, 'resource_state': 1}",Ahwatukee + extra miles,104175.0,13563,15833,331.0,Ride,Ride,10.0,10032329923,2023-10-13T13:24:08Z,2023-10-13T06:24:08Z,(GMT-07:00) America/Phoenix,-25200.0,NaN,NaN,United States,48,32,0,1,0,"{'id': 'a10032329923', 'summary_polyline': 'of...",False,False,False,False,everyone,False,b12532853,"[33.419574815779924, -111.92323244176805]","[33.419403238222, -111.92318198271096]",7.681,15.474,87.9,20.0,148.8,609.0,157.0,2018.6,True,True,135.2,163.0,False,True,467.4,335.0,1.074900e+10,1.074900e+10,garmin_ping_299382518740,False,27,2,False,108.0,548.0,12483.0,532.0,0.0,0.0,1780.0,150.0,1067.0,3382.0,4263.0,1930.0,536.0,261.0,94.0,50.0,50.0

In [24]:
reduced_columns = ['distance', 'moving_time', 'total_elevation_gain', 'sport_type', 'start_date_local', 'average_speed', 'average_temp', 'average_watts', 'kilojoules', 'average_heartrate', 'suffer_score']
reduced_data = activities_with_zones[reduced_columns]
reduced_data.head()

,distance,moving_time,total_elevation_gain,sport_type,start_date_local,average_speed,average_temp,average_watts,kilojoules,average_heartrate,suffer_score
0,63539.8,8189,131.0,Ride,2023-10-17T10:00:06Z,7.759,32.0,155.9,1276.9,152.1,176.0
1,65466.1,8033,276.0,Ride,2023-10-15T06:22:30Z,8.150,17.0,149.1,1197.3,144.8,117.0
2,24439.8,4925,58.0,Ride,2023-10-14T08:00:20Z,4.962,21.0,73.6,362.5,128.2,28.0
3,8939.8,1432,6.0,Ride,2023-10-14T07:31:51Z,6.243,17.0,75.0,107.4,112.2,4.0
4,104175.0,13563,331.0,Ride,2023-10-13T06:24:08Z,7.681,20.0,148.8,2018.6,135.2,108.0

In [25]:
reduced_data.describe()

,distance,moving_time,total_elevation_gain,average_speed,average_temp,average_watts,kilojoules,average_heartrate,suffer_score
count,1601.000000,1601.000000,1601.000000,1601.000000,829.000000,1387.000000,1387.000000,916.000000,919.000000
mean,33480.830668,5097.313554,310.521674,6.204655,21.371532,135.349603,780.751622,137.433624,65.414581
std,29839.536824,4118.879778,475.899087,2.205383,5.603610,44.241447,679.579651,19.376394,61.841397
min,0.000000,89.000000,0.000000,0.000000,7.000000,0.400000,0.200000,44.700000,0.000000
25%,8715.500000,2123.000000,0.000000,5.397000,18.000000,103.500000,281.600000,125.175000,15.000000
50%,25808.100000,3904.000000,132.000000,6.396000,22.000000,135.100000,613.300000,140.400000,54.000000
75%,49850.300000,7302.000000,441.400000,7.660000,25.000000,164.750000,1146.300000,150.125000,93.000000
max,162929.000000,51131.000000,4011.100000,12.414000,40.000000,379.400000,3862.500000,186.700000,401.000000

In [26]:
reduced_cleaned = reduced_data.copy()
reduced_cleaned['average_temp'] = reduced_data['average_temp'].fillna(reduced_data['average_temp'].mean())
reduced_cleaned['average_watts'] = reduced_data['average_watts'].fillna(reduced_data['average_watts'].mean())
reduced_cleaned['kilojoules'] = reduced_data['kilojoules'].fillna(reduced_data['kilojoules'].mean())
reduced_cleaned['average_heartrate'] = reduced_data['average_heartrate'].fillna(reduced_data['average_heartrate'].mean())
reduced_cleaned['suffer_score'] = reduced_data['suffer_score'].fillna(reduced_data['suffer_score'].mean())
reduced_cleaned.describe(include='all')

,distance,moving_time,total_elevation_gain,sport_type,start_date_local,average_speed,average_temp,average_watts,kilojoules,average_heartrate,suffer_score
count,1601.000000,1601.000000,1601.000000,1601,1601,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000,1601.000000
unique,NaN,NaN,NaN,9,1601,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,Ride,2023-10-17T10:00:06Z,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,1437,1,NaN,NaN,NaN,NaN,NaN,NaN
mean,33480.830668,5097.313554,310.521674,NaN,NaN,6.204655,21.371532,135.349603,780.751622,137.433624,65.414581
std,29839.536824,4118.879778,475.899087,NaN,NaN,2.205383,4.031095,41.176644,632.502126,14.652898,46.842562
min,0.000000,89.000000,0.000000,NaN,NaN,0.000000,7.000000,0.400000,0.200000,44.700000,0.000000
25%,8715.500000,2123.000000,0.000000,NaN,NaN,5.397000,21.000000,109.800000,316.100000,137.433624,42.000000
50%,25808.100000,3904.000000,132.000000,NaN,NaN,6.396000,21.371532,135.349603,742.500000,137.433624,65.414581
75%,49850.300000,7302.000000,441.400000,NaN,NaN,7.660000,22.000000,161.000000,1039.100000,143.100000,65.414581
max,162929.000000,51131.000000,4011.100000,NaN,NaN,12.414000,40.000000,379.400000,3862.500000,186.700000,401.000000

In [27]:
reduced_cleaned['sport_type'].unique()

array(['Ride', 'WeightTraining', 'Walk', 'Velomobile', 'Workout', 'Run',
       'Rowing', 'VirtualRide', 'Hike'], dtype=object)

In [28]:
len(reduced_cleaned[reduced_cleaned['sport_type'] == 'Ride'])

1437

In [30]:
only_rides = reduced_cleaned[reduced_cleaned['sport_type'] == 'Ride'].drop('sport_type', axis=1)
only_rides.describe(include='all')

,distance,moving_time,total_elevation_gain,start_date_local,average_speed,average_temp,average_watts,kilojoules,average_heartrate,suffer_score
count,1437.000000,1437.000000,1437.000000,1437,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000
unique,NaN,NaN,NaN,1437,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,2023-10-17T10:00:06Z,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
mean,36855.183507,5314.964509,340.208768,NaN,6.705686,21.410923,135.253080,785.032151,137.925716,67.528007
std,29625.520829,4229.274455,492.228618,NaN,1.580557,4.179976,43.118257,665.636146,13.107630,47.298183
min,0.000000,89.000000,0.000000,NaN,0.000000,7.000000,0.400000,0.200000,44.700000,0.000000
25%,15620.600000,2401.000000,2.300000,NaN,5.697000,21.000000,106.000000,300.500000,137.433624,51.000000
50%,29145.700000,4147.000000,168.000000,NaN,6.586000,21.371532,135.349603,649.000000,137.433624,65.414581
75%,53448.800000,7591.000000,505.500000,NaN,7.777000,22.000000,163.900000,1125.500000,142.900000,67.000000
max,162929.000000,51131.000000,4011.100000,NaN,12.414000,40.000000,379.400000,3862.500000,186.700000,401.000000

In [40]:
only_rides_cleaned = only_rides.copy().drop('start_date_local', axis=1)
only_rides_cleaned['timestamp'] = pd.to_datetime(only_rides['start_date_local'])
only_rides_cleaned['timestamp'] = only_rides_cleaned['timestamp'].apply(lambda x : x.timestamp())
only_rides_cleaned.describe(include='all')

,distance,moving_time,total_elevation_gain,average_speed,average_temp,average_watts,kilojoules,average_heartrate,suffer_score,timestamp
count,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000,1437.000000,1.437000e+03
mean,36855.183507,5314.964509,340.208768,6.705686,21.410923,135.253080,785.032151,137.925716,67.528007,1.524221e+09
std,29625.520829,4229.274455,492.228618,1.580557,4.179976,43.118257,665.636146,13.107630,47.298183,9.596791e+07
min,0.000000,89.000000,0.000000,0.000000,7.000000,0.400000,0.200000,44.700000,0.000000,1.387347e+09
25%,15620.600000,2401.000000,2.300000,5.697000,21.000000,106.000000,300.500000,137.433624,51.000000,1.443679e+09
50%,29145.700000,4147.000000,168.000000,6.586000,21.371532,135.349603,649.000000,137.433624,65.414581,1.505458e+09
75%,53448.800000,7591.000000,505.500000,7.777000,22.000000,163.900000,1125.500000,142.900000,67.000000,1.598515e+09
max,162929.000000,51131.000000,4011.100000,12.414000,40.000000,379.400000,3862.500000,186.700000,401.000000,1.697537e+09

In [44]:
scaler = StandardScaler()
transformed_rides = pd.DataFrame()
current_columns = ['distance', 'moving_time', 'total_elevation_gain', 'timestamp', 'average_speed', 'average_temp', 'average_watts', 'kilojoules', 'average_heartrate', 'suffer_score']
transformed_rides[[x + '_t' for x in current_columns]] = scaler.fit_transform(only_rides_cleaned[current_columns])
transformed_rides.head()

,distance_t,moving_time_t,total_elevation_gain_t,timestamp_t,average_speed_t,average_temp_t,average_watts_t,kilojoules_t,average_heartrate_t,suffer_score_t
0,0.901044,0.679794,-0.425172,1.806607,0.666651,2.534169,0.479011,0.739201,1.081753,2.294163
1,0.966089,0.642896,-0.130490,1.804670,0.914118,-1.055618,0.321250,0.619575,0.524632,1.046324
2,-0.419223,-0.092238,-0.573528,1.803830,-1.103594,-0.098342,-1.430358,-0.635000,-0.742247,-0.836010
3,-0.942603,-0.918436,-0.679207,1.803812,-0.292838,-1.055618,-1.397878,-1.018376,-1.963335,-1.343606
4,2.273150,1.950904,-0.018715,1.802869,0.617284,-0.337661,0.314290,1.853862,-0.208021,0.855975